@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,300);
body {
  font-family: 'Open Sans', sans-serif;
  font-size:1.2em;
  line-height: 1.5;
  font-weight: 400;
  color: '#444';
}

.interactive {
  min-width: 400px;
  max-width:1000px;
  margin: 0 auto;
  margin-bottom:20px;
}

#bouncingsheep {
  max-width:700px;
  margin-bottom:0px;
}

#releasesheep {
  max-width:800px;
}

img {
  max-width:100%;
}

figure .image {
    width: 100%;
}

figure {
    text-align: center;
    font-size: 80%;
    display: table;
    max-width: 100%;
    margin: 1px auto; /* not needed unless you want centered */
    margin-bottom:20px;
}

figcaption {
  display:table-caption;
  caption-side:bottom;
  font-style:italic;
  color: grey;
}

.intro {
   margin-bottom: 24px;
   font-size: 1.5rem;
}

p {
  margin-bottom:20px;
}

p:last-child {
  margin-bottom:none;
}

h1 {
  margin-top:0px; /* was 20 px */
  text-align:center;
  font-weight:100;
  font-size:3rem;
}

h2 {
  margin-top:30px;
  font-weight:700;
  font-size: 1.8rem;
  padding-bottom:20px;

}

h3 {
  text-align:center;
  font-weight:400;
  font-size:1.2rem;
}

h1, h2, h3 {
  line-height: 1.1;
  color: '#222';
}


#title {
  font-family: 'Raleway', sans-serif;
  padding-bottom:20px;
  margin-bottom:20px;
}

#title h1 {
  margin-bottom:10px;
}

i {
  font-style: italic;
}

b {
  font-weight:700;
}

a {
  color: #00aeef;
}

blockquote {

 font-size: 1.2rem;
 font-style: italic;
 margin-bottom: 20px;
 padding-left: 15px;

 border-width: 0px 0px 0px 3px;
 border-style: solid;
}

.container {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }
}

ul {
  margin:10px 0;
}

ul li {
  margin-bottom:5px;
  overflow:auto;
}
